.title {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
}

.about {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;

}

body {
    margin: 0;
    background-image: url(floor.jpg);
    background-size: 1440px 900px;
    background-repeat:no-repeat;
    display: compact;
}

.description {
float: left;
    font-size: 20px;
    text-align: center;
    border: solid;
    color: #FFFFFF;
    
}

p. {
float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
}






.navbar{
    
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF
}
 
